@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: ;
	}
}

img {
	object-fit: cover;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}
