@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--unic-color: #0089E3;
}

img {
	object-fit: cover;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--unic-color) #000000;
}

*::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background: var(--unic-color);
	border-radius: 35px;
}
